.image-with-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-with-text-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .image-with-text-text-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
  }
  
  .image-with-text-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
  }
  
  .image-with-text-text-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .image-with-text-text-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .image-with-text-text-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .image-with-text-text-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  
  .image-with-text-text-5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  